{% extends "base.html" %}

{% block content %}
<h1> Hello! Здравствуйте! </h1>
<div>
    Вы запустили приложение для работы с Яндекс.SpeechKit
    Приложение само не производит генерацию голоса или текста, оно только обеспечивает удобную форму работы с сервисом.
</div>
<div id="state">
    {% if state %}
        <p>Система настроена</p>
    {% else %}
        <p>Система не настроена<br>
            Перейдите на страницу <a href="/settings">настроек</a>.
        </p>
    {% endif %}
</div>

{% endblock %}